# Non Persistent Soft Max Freq
on property:vendor.softmaxfreq.cl0=*
    write /sys/devices/platform/exynos-acme/freq_qos_max "0 ${vendor.softmaxfreq.cl0}"

on property:vendor.softmaxfreq.cl1=*
    write /sys/devices/platform/exynos-acme/freq_qos_max "4 ${vendor.softmaxfreq.cl1}"

on property:vendor.softmaxfreq.cl2=*
    write /sys/devices/platform/exynos-acme/freq_qos_max "8 ${vendor.softmaxfreq.cl2}"

on property:vendor.softmaxfreq.bci=*
    write /sys/devices/platform/170000a0.devfreq_bci/devfreq/170000a0.devfreq_bci/exynos_data/soft_max_freq "${vendor.softmaxfreq.bci}"

on property:vendor.softmaxfreq.dsu=*
    write /sys/devices/platform/17000090.devfreq_dsu/devfreq/17000090.devfreq_dsu/exynos_data/soft_max_freq "${vendor.softmaxfreq.dsu}"

on property:vendor.softmaxfreq.mif=*
    write /sys/devices/platform/17000010.devfreq_mif/devfreq/17000010.devfreq_mif/exynos_data/soft_max_freq "${vendor.softmaxfreq.mif}"

# Persistent Soft Max Freq overrides
on property:persist.vendor.softmaxfreq.cl0=*
    setprop vendor.softmaxfreq.cl0 "${persist.vendor.softmaxfreq.cl0}"

on property:persist.vendor.softmaxfreq.cl1=*
    setprop vendor.softmaxfreq.cl1 "${persist.vendor.softmaxfreq.cl1}"

on property:persist.vendor.softmaxfreq.cl2=*
    setprop vendor.softmaxfreq.cl2 "${persist.vendor.softmaxfreq.cl2}"

on property:persist.vendor.softmaxfreq.bci=*
    setprop vendor.softmaxfreq.bci "${persist.vendor.softmaxfreq.bci}"

on property:persist.vendor.softmaxfreq.dsu=*
    setprop vendor.softmaxfreq.dsu "${persist.vendor.softmaxfreq.dsu}"

on property:persist.vendor.softmaxfreq.mif=*
    setprop vendor.softmaxfreq.mif "${persist.vendor.softmaxfreq.mif}"

on property:vendor.softmaxfreq.all=*
    setprop vendor.softmaxfreq.cl0 "9999999"
    setprop vendor.softmaxfreq.cl1 "9999999"
    setprop vendor.softmaxfreq.cl2 "9999999"
    setprop vendor.softmaxfreq.bci "9999999"
    setprop vendor.softmaxfreq.dsu "9999999"
    setprop vendor.softmaxfreq.mif "9999999"

on property:vendor.lockfreq.max=*
    write /sys/devices/platform/exynos-acme/freq_qos_min "0 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_max "0 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_min "0 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_min "4 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_max "4 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_min "4 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_min "8 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_max "8 9999999"
    write /sys/devices/platform/exynos-acme/freq_qos_min "8 9999999"
    write /sys/devices/platform/170000a0.devfreq_bci/devfreq/170000a0.devfreq_bci/exynos_data/soft_max_freq "9999999"
    write /sys/devices/platform/170000a0.devfreq_bci/devfreq/170000a0.devfreq_bci/exynos_data/debug_scaling_devfreq_min "9999999"
    write /sys/devices/platform/170000a0.devfreq_bci/devfreq/170000a0.devfreq_bci/exynos_data/debug_scaling_devfreq_max "9999999"
    write /sys/devices/platform/170000a0.devfreq_bci/devfreq/170000a0.devfreq_bci/exynos_data/debug_scaling_devfreq_min "9999999"
    write /sys/devices/platform/17000090.devfreq_dsu/devfreq/17000090.devfreq_dsu/exynos_data/soft_max_freq "9999999"
    write /sys/devices/platform/17000090.devfreq_dsu/devfreq/17000090.devfreq_dsu/exynos_data/debug_scaling_devfreq_min "9999999"
    write /sys/devices/platform/17000090.devfreq_dsu/devfreq/17000090.devfreq_dsu/exynos_data/debug_scaling_devfreq_max "9999999"
    write /sys/devices/platform/17000090.devfreq_dsu/devfreq/17000090.devfreq_dsu/exynos_data/debug_scaling_devfreq_min "9999999"
    write /sys/devices/platform/17000010.devfreq_mif/devfreq/17000010.devfreq_mif/exynos_data/soft_max_freq "9999999"
    write /sys/devices/platform/17000010.devfreq_mif/devfreq/17000010.devfreq_mif/exynos_data/debug_scaling_devfreq_min "9999999"
    write /sys/devices/platform/17000010.devfreq_mif/devfreq/17000010.devfreq_mif/exynos_data/debug_scaling_devfreq_max "9999999"
    write /sys/devices/platform/17000010.devfreq_mif/devfreq/17000010.devfreq_mif/exynos_data/debug_scaling_devfreq_min "9999999"

