on init
    # little cores (Cortex-A510)
    write /sys/devices/system/cpu/cpu0/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu1/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu2/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu3/mte_tcf_preferred asymm
    # mid cores (Cortex-A715)
    write /sys/devices/system/cpu/cpu4/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu5/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu6/mte_tcf_preferred asymm
    write /sys/devices/system/cpu/cpu7/mte_tcf_preferred asymm
    # big core (Cortex-X3)
    write /sys/devices/system/cpu/cpu8/mte_tcf_preferred asymm

on post-fs
    chown root system /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable
    chown root system /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable
    chmod 664 /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable
    chmod 664 /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable

on property:sys.port_security_mode=ports_disabled
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable 0
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable 0

on property:sys.port_security_mode=charging-only_immediate
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable 0
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable 1

on property:sys.port_security_mode=charging-only
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable -1
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable 1

on property:sys.port_security_mode=ports_enabled
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/data_path_enable 1
    write /sys/devices/platform/10cb0000.hsi2c/i2c-11/11-0025/cc_toggle_enable 1
