on property:ro.vendor.persist.status=mounted
    # for modem related functions
    restorecon_recursive /mnt/vendor/efs
    chown radio system /mnt/vendor/efs
    restorecon_recursive /mnt/vendor/efs_backup
    chown radio system /mnt/vendor/efs_backup
    restorecon_recursive /mnt/vendor/modem_userdata
    chown radio system /mnt/vendor/modem_userdata

    # for battery defender
    mkdir /mnt/vendor/persist/battery 0700 system system

    # Factory calibration files
    chmod 0771 /mnt/vendor/persist/camera
    chmod 0771 /mnt/vendor/persist/camera/OTP_calibration
    chmod 0771 /mnt/vendor/persist/camera/pdaf_calibration_data
    mkdir /mnt/vendor/persist/camera/rear 0771 system camera
    chmod 0771 /mnt/vendor/persist/camera/rear

    restorecon_recursive /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist/aoc
    restorecon_recursive /mnt/vendor/persist/audio
    restorecon_recursive /mnt/vendor/persist/sensors
    restorecon_recursive /mnt/vendor/persist/battery
    restorecon_recursive /mnt/vendor/persist/camera
    restorecon_recursive /mnt/vendor/persist/modem
    # Set up display-related directories and permissions
    # Add restorecon_recursive command to make sure the restorecon label is persist_display_file.
    restorecon_recursive /mnt/vendor/persist/display
    mkdir /mnt/vendor/persist/data/sfs 0700 system system
    mkdir /mnt/vendor/persist/data/tz 0700 system system
    mkdir /mnt/vendor/persist/touch 0770 system system

    # Proxy for Secure Storage
    mkdir /data/vendor/rebootescrow 0770 hsm hsm
    mkdir /data/vendor/ss 0770 root system
    mkdir /mnt/vendor/persist/ss 0770 root system
    restorecon_recursive /mnt/vendor/persist/ss
    symlink /mnt/vendor/persist/ss /data/vendor/ss/persist
    chown root system /data/vendor/ss/persist
    chmod 0770 /data/vendor/ss/persist
    symlink /dev/block/platform/13200000\.ufs/by-name/trusty_persist /data/vendor/ss/persist/0
    chown system system /data/vendor/ss/persist/0
    chown system system /data/vendor/ss/persist/nsp

    restart storageproxyd
